@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    margin: 0;
}

.container {
    background-image: url(../images/bg1.jpg);
    background-size: cover;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.5s;
    z-index: 1000;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;

    a {
        text-decoration: none;
        margin: 1.5em;
        color: white;
    }

    #book {
        border: white solid 1px;
        padding: 5px;
    }

    .logo a{
        font-family: "Oswald", sans-serif;
        font-weight: bold;
        font-size: 1.5em;
    }

    span {
        border-bottom: 1px solid #fff;
        padding-bottom: 1em;
    }
}

.sticky {
    background-color: white;
    a {
        color: black;
    }

    #book {
        border: black solid 1px;
    }

    span {
        border-bottom: 1px solid black;
    }
}

.section1 {
    height: 100vh;

    img {
        position: relative;
        width: 25%;
        left: 50%;
        padding: 5em;
    }

    h1, p {
        font-family: "Cutive mono";
    }

    .section1-container {
        display: flex;
        justify-content: center;
        width: 100vh;
    }
}