@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');

body {
    margin: 0;
}

.main-nav-container {
    background-image: url(../images/bg1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    max-height: 15%;
}

.white-nav,
.navbar {
    transition: max-height 0.8s, background-color 0.8s;
}

#hamburger {
    display: none;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;

    a {
        font-family: 'Cutive Mono';
        text-decoration: none;
        margin: 1.5em;
        color: white;
    }

    #book {
        border: white solid 1px;
        padding: 5px;
    }

    .logo a {
        font-family: "Oswald", sans-serif;
        font-weight: bold;
        font-size: 1.5em;
    }

    span {
        border-bottom: 1px solid #fff;
        padding-bottom: 1em;
    }
}

.sticky,
.white-nav {
    background: white;

    a {
        color: black;
    }

    span {
        border-bottom: 1px solid black;
    }

    #book {
        border: black solid 1px;
    }

    #hamburger {
        div {
            background: black;
        }
    }
}

.sticky {
    max-height: 10%;
}

#gallery {
    display: flex;
    flex-wrap: wrap;

    img {
        max-width: 100%;
        height: auto;
    }
}

section {

    .container {
        display: flex;
        justify-content: center;
        margin-top: 5em;
    }

    .info {
        max-width: 25em;
        padding-right: 3em;
    }

    img {
        max-width: 30vw;
        height: auto;
    }

    h2,
    p {
        font-family: "Sorts Mill Goudy", serif;
    }
}

footer {
    margin-top: 10em;

    .contact-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2,
    p {
        font-family: "Sorts Mill Goudy", serif;
    }

    h2 {
        font-family: "Oswald", sans-serif;
        font-weight: bold;
        font-size: 3em;
        color: black;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 1.3em;
        transition: font-size 0.5s;
    }

    a:hover {
        font-size: 1.4em;
    }

    #map {
        height: 20em;
        width: 50vw;
        margin-bottom: 5em;
        border: 0;
    }
}

#contact-img {
    margin: 0;

    img {
        max-width: 100%;
        height: auto;
    }
}

.form-container {
    width: 50%;
    margin: 10em auto;

    h1 {
        text-align: center;
        font-family: 'Cutive Mono';
    }

    form {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .form-group {
            flex: 1 1 calc(50% - 20px);
            min-width: 200px;

            label {
                display: block;
                margin-bottom: 5px;
            }

            input {
                width: 100%;
                padding: 8px;
                box-sizing: border-box;
            }

            #submitButton {
                display: block;
                width: 100%;
                padding: 10px;
                background-color: black;
                color: white;
                border: none;
                cursor: pointer;
            }

        }
    }
}

main {

    .hero,
    .menu-links,
    .button-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1,
    a {
        font-family: 'Cutive Mono';
    }

    .hero {
        background-image: url("../images/menu-img.jpg");
        background-size: cover;
        height: 100vh;

        h1 {
            color: white;
            font-size: 4em;
        }
    }

    .menu-links {
        flex-direction: column;
        margin-top: 10em;

        .button-wrap {
            background: black;
            margin: .5em;
            width: 30%;
            padding: 1em;
            cursor: pointer;

            a {
                text-decoration: none;
                color: white;
                font-weight: bold;
            }
        }
    }

    table {
        margin: 5em auto;
        text-align: left;
        border: 1px solid black;
        padding: 1em;

        th, td {
            font-family: 'Cutive mono'
        }

        .dark, tfoot {
            background: black;
            color: white;
        }

        tfoot {
            font-weight: bold;
            font-style: italic;
        }
    }
}

@media only screen and (max-width: 900px) {

    #hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;

        div {
            width: 30px;
            height: 3px;
            background: white;
            margin: 5px 0;
            border-radius: 5em;
        }
    }


    section {
        .container {
            flex-direction: column;
            align-items: center;
        }

        .info {
            padding: 0;
            max-width: 80vw;
        }
    }
}

.hidden {
    display: none !important;
}

.menu-active {
    .logo a {
        color: black;
    }

    #hamburger div {
        background: black;
    }
}


.hamburger-nav {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: white;
    position: fixed;
    top: 0;

    .nav-links {
        padding: 0;
    }

    ul {
        flex-direction: column;
        margin-top: 7em;

        li {
            margin: 2em;

        }

        a {
            color: black;
        }
    }
}